@font-face {
    font-family: 'Bahn';
    src: url('../assets/fonts/Bahn.TTF') format('truetype');
}

@font-face {
    font-family: 'Biome';
    src: url('../assets/fonts/Biome.ttf') format('truetype');
}
