@import "./custom_colors";
@import "./fonts";


nav.navbar {
    height: 70px;
    background-color: $custom-green;

    .navbar-brand {
        img {
        height: 40px;
        margin-top:15px;
    }
  }
}

.botao-nav{
  font-family: 'Biome';
}

.logo{
  margin-right: 20px;
}

.menuzinho{
  z-index: 1;
}

.btn-menuzinho{
  color: black;
}
